@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.rds{
   width: 99vw;

  }

   a{
 display: block;
 background-color: darkred;
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 text-decoration: none;
 width: 87vw;
 padding: 15px;
 
   }